<a href="/"><img src="/assets/logo_briq.svg" width="150"/></a>
<div class='container_cta_exports'>
  <label>Descargar todos los pagos</label>
  <div class='container_btn_exports'>
    <%= link_to 'Versión .xlsx', export_payments_path(format: :xlsx), class: 'button_primary'%>
    <%= link_to 'Versión .csv', export_payments_path(format: :csv), class: 'button_primary' %>
  </div>
</div>
<div class='header_payments_title'>
  <h1 ><%= t('.payments_received') %></h1>

  <%= form_with url: payments_path, method: :get, class: 'filter_select' do |form| %>
    <%= form.select :project_id, options_for_select([[t("activerecord.attributes.project.status.all_projects"), '']]) + grouped_options_for_select(@grouped_options, params[:project_id]), {}, { onChange: 'this.form.requestSubmit()'} %>
  <% end %>
</div>
<div class="header_payments_table">
  <table>
    <thead>
      <tr>
        <th><%= t('glossary.date') %></th>
        <th><%= t('glossary.project') %></th>
        <th><%= t('glossary.capital') %></th>
        <th>+ <%= t('glossary.interests') %></th>
        <th>+ <%= t('glossary.taxes') %></th>
        <th>- <%= t('glossary.withhelp_taxes') %></th>
        <th>- <%= t('glossary.fee') %></th>
        <th>= <%= t('glossary.total') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "payment", collection: @payments %>
    </tbody>
  </table>
</div>
<%= paginate @payments, remote: true  %>
