<a href="/"  >
  <img src="/assets/logo_briq.svg" width="150" />
</a>
<div class='header_payments_title'>
  <h1 ><%= t('.payments_received') %></h1>
  <%= form_with url: payments_path, method: :get, class: 'filter_select' do |form| %>
    <%= form.select :project_id, grouped_options_for_select(@grouped_options, 0), {}, { onChange: 'this.form.requestSubmit()'} %>
  <% end %>
</div>
<div class="header_payments_table">
  <table>
    <thead>
      <tr>
        <th><%= t('glossary.date') %></th>
        <th><%= t('glossary.project') %></th>
        <th><%= t('glossary.capital') %></th>
        <th>+ <%= t('glossary.interests') %></th>
        <th>+ <%= t('glossary.taxes') %></th>
        <th>- <%= t('glossary.withhelp_taxes') %></th>
        <th>- <%= t('glossary.fee') %></th>
        <th>= Total</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "payment", collection: @payments %>
    </tbody>
  </table>
</div>
<%= paginate @payments, remote: true  %>
